@import url('https://fonts.googleapis.com/css?family=Charis%20SIL:700|Sanchez:400');

/* --- Base --- */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Sanchez', serif;
    color: rgb(211, 211, 211);
    background-image: linear-gradient(to right, rgb(5, 124, 172), rgb(199, 10, 114));
    overflow: hidden;
    /* Gradient Background Found in this Vid: https://youtu.be/MxpDrULwejY */
}

#up {
    position: absolute;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background-image: linear-gradient(to right, rgb(5, 172, 75), rgb(10, 114, 199));
    filter: blur(80px);
    animation: down 40s infinite;
}

#down {
    position: absolute;
    right: 0;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(to right, rgba(172, 164, 5, 0.807), rgb(199, 45, 10));
    filter: blur(80px);
    animation: up 50s infinite;
}

#left {
    position: absolute;
    right: 0;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(to right, rgb(5, 122, 172), rgba(104, 197, 10, 0.698));
    filter: blur(80px);
    animation: left 40s infinite;
    z-index: -1;
}

#right {
    position: absolute;
    right: 0;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(to right, rgba(7, 115, 30, rgba(151, 64, 5, 0.698), 0.698));
    filter: blur(80px);
    animation: right 60s infinite;
}

@keyframes down {

    0%,
    100% {
        top: -100px;
    }

    70% {
        top: 700px;
    }
}

@keyframes up {

    0%,
    100% {
        bottom: -70px;
    }

    70% {
        bottom: 500px;
    }
}

@keyframes left {

    0%,
    100% {
        left: -100px;
    }

    70% {
        left: 1300px;
    }
}

@keyframes right {

    0%,
    100% {
        right: -100px;
    }

    70% {
        right: 1100px;
    }
}


h2,
p {
    font-family: 'Charis SIL', serif;
    color: rgb(211, 211, 211);
}

/* --- Layout --- */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Subtract approx navbar height to keep centered visually */
    min-height: calc(100vh - 80px);
    width: 100%;
}

#contactContainer {
    width: 400px;
    max-width: 90%;
    padding: 3rem;
    background-color: rgba(38, 28, 46, 0.742);
    border-radius: 1.25rem;
    text-align: center;
    z-index: 1;
}

#contactHeader {
    background: linear-gradient(to right, rgb(224, 137, 142), rgb(42, 74, 146));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2.5rem;
    margin: 0 0 0.5rem 0;
}

/* --- Form --- */
#contactForm {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    margin-top: 1.5rem;
}

label {
    margin-bottom: 0;
}

input,
textarea {
    background-color: rgba(21, 5, 6, 0.5);
    border: 1px solid rgba(224, 137, 142, 0.3);
    color: white;
    padding: 0.8rem;
    border-radius: 0.3rem;
    font-family: inherit;
    width: 100%;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: rgb(96, 142, 230);
}

#contactForm button {
    margin-top: 1rem;
    padding: 0.8em;
    background-color: rgba(29, 95, 181, 0.671);
    color: white;
    border: 2px solid rgb(21, 5, 6);
    border-radius: 0.6rem;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Sanchez';
}

#contactForm button:hover {
    background-color: rgb(54, 98, 201);
}